PATH=c:\winboard\winboard.debug

PORT=16000
SITE=IJCCRL LIVE ARENA
TOURNEYPGN=

DELAY=100
DELAYAFTERMOVE=50
DELAYAFTERGAME=2000

MAILSERVER=mail.mailserver.com
RETURNADD=someone@somewhere.com

' Next line is an example only.  Note, you can have up to 10 menus.  Each menu must have a different ID number (1-10).
'MENU ID=1 WIDTH=12000 HEIGHT=6000 NAME="Schedule" URL="http://loirechecs.chez.tiscali.fr/chesswar/Chesswar006D07.htm"

ICSMODE=1

SAVEDEBUG=1
